
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* inicia el codigo */

* {
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor1 {
    width: 100%;
    height: 650px;
    background-image: url(Fondo1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 3px;
    padding-bottom: 35px
}

.contenedorlogo {
    width: 20%;
    height: 50px;
    background-image: url(Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 15px;
    left: 22px;
}


.navegacion {
    display: block;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #f5f0ed;
    margin: 150px auto;
    font-size: 44px;  
    font-weight: bold;
}

.cajalinea1 {
    width: 110px;
    border: 1px solid #f5f0ed;
    color: #f5f0ed;
    margin-top: -125px;    
}

.cajatexto1 {
    width: 100%;
    height: 50px;
    color: #f5f0ed;
    font-size: 16px;
    text-align: center;
    padding-left:400px ;
    padding-right:430px;
    margin:20px auto;
    line-height: 1.5;

}

/*CONFIGURACION DE LA LISTA MENU ENLAZADO*/

a {
    color: #f5f0ed;
    text-decoration: none;
}


/*CONFIGURACION DE LA LISTA*/
ul {
    display: inline;
    float: right;
    margin-right: 25px;
    margin-top: -20px;

}

li {
    color: #f5f0ed;
    float: left;
    margin-left: 25px;
    font-weight: bold;
    list-style: none;
}

/*CONFIGURACION DEL SEGUNDO BLOQUE*/

.caja1 {
    width: 50%;
    height: 400px;
    float: left;
    background-color: #d03b40;
    
}

.caja2 {
    width: 50%;
    height: 400px;
    background-color: #ded6c0;
    float: left;
}

.cajatexto2 {
    width: 100%;
    height: 50px;
    font-size: 28px;
    color: #ded6c0;
    margin: 115px auto;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;
}

.cajatexto3 {
    width: 100%;
    height: auto;
    font-size: 16px;
    margin: -80px auto;
    color: #ded6c0;
    text-align: center;
    padding-left: 130px;
    padding-right: 130px;
    line-height: 1.5;
}

.cajatexto4 {
    width: 100%;
    height: 50px;
    font-size: 28px;
    color: #d03b40;
    margin: 115px auto;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;
}

.cajatexto5 {
    width: 100%;
    height: auto;
    font-size: 16px;
    margin: -80px auto;
    color: #d03b40;
    text-align: center;
    padding-left: 105px;
    padding-right: 109px;
    line-height: 1.5;
}

/*CONFIGURACION DE TERCER BLOQUE*/

.contenedor2 {
    width: 100%;
    height: 650px;
    background-image: url(Fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin-top: 300px;

}

h2 {
    width: 100%;
    color: #f5f0ed;
    padding-top:250px;
    font-size: 44px;
    text-align: center;
    font-weight: bold;

}

.cajalinea2 {
    width: 8%;
    border: 1px solid #f5f0ed;
    color: #f5f0ed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
}

.cajatexto6 {
    width: 40%;
    height: 50px;
    font-size: 16px;
    color: #f5f0ed;
    text-align:center ;
    margin: 25px auto;
    line-height: 1.2;
}

.boton1 {
    border: 3px solid #f5f0ed;
    width: 20%;
    height: 50px;
    margin-left: 540px;
    color: #f5f0ed;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 14px;
    text-align: center;
}

/*CONFIGURACION CUARTO BLOQUE */


.contenedor3 {
    width: 100%;
    height: 500px;
   
}

.cajapan {
    width: 50%;
    height: 250px;
    background-color: #f5f0ed;
    float: left;
}

.iconopan {
    width: 30%;
    height: 160px;
    background-size: contain;
    background-image: url(../app/Icono1.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 30px;
}

.titulopan {
    width: 50%;
    height: 30px;
    font-size: 24px;
    text-align: justify;
    margin-left: 220px;
    margin-top: -170px;
    font-weight: bold;    
}

.textopan {
    width: 65%;
    height: 200px;
    margin-left: 220px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
    padding-right: 60px;
}

.cajatortas {
    width: 50%;
    height: 250px;
    background-color: #f5f0ed;
    float: right;
}

.iconotortas {
    width: 30%;
    height: 160px;
    background-size: contain;
    background-image: url(../app/Icono2.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 30px;
}

.titulotortas {
    width: 50%;
    height: 30px;
    font-size: 24px;
    text-align: justify;
    margin-left: 220px;
    margin-top: -170px;
    font-weight: bold; 
}

.textotortas {
    width: 65%;
    height: 100px;
    margin-left: 220px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
    padding-right: 60px;
    
}

.cajapastel {
    width: 50%;
    height: 250px;
    background-color: #f5f0ed;
    float: left;
}

.iconopastel {
    width: 30%;
    height: 160px;
    background-size: contain;
    background-image: url(../app/Icono3.png);
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 30px;
}

.titulopastel {
    width: 50%;
    height: 30px;
    font-size: 24px;
    text-align:justify;
    margin-left: 220px;
    margin-top: -170px;
    font-weight: bold;
}

.textopastel {
    width: 65%;
    height: 100px;
    margin-left: 220px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
    padding-right: 40px;
}


.cajatrigo {
    width: 50%;
    height: 250px;
    background-color: #f5f0ed;
    float: right;
}

.iconotrigo {
    width: 30%;
    height: 160px;
    background-size: contain;
    background-image: url(../app/Icono4.png);
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 30px;
}

.titulotrigo {
    width: 60%;
    height: 30px;
    font-size: 24px;
    text-align:justify;
    margin-left: 220px;
    margin-top: -170px;
    font-weight:bold ;
}

.textotrigo {
    width: 65%;
    height: 100px;
    margin-left: 220px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
    padding-right: 50px;
}

/*CONFIGURACIÓN DE QUINTO BLOQUE */

.contenedor4 {
    width: 100%;
    height: 350px;
}

.cajacontacto {
    width: 50%;
    height: 350px;
    float: left;
    background-color: #ded6c0;
}

.titulocontacto {
    width: 100%;
    height: 30px;
    color: #d03b40;
    text-align: center;
    margin-top: 90px;
    font-size: 28px;
    font-weight: bold;
}

.textocontacto {
    width: 100%;
    height: 80px;
    margin-top: 60px;
    text-align: center;
    color: #d03b40;
    font-size: 16px;
    line-height: 1.3;
}

.cajaubicacion {
    width: 50%;
    height: 350px;
    float: right;
    background-color: #d03b40;
}

.contenedor5 {
    width: 100%;
    height: 150px;
    background-color: #241d1b;
}

.tituloubicacion {
    width: 100%;
    height: 30px;
    color: #ded6c0;
    text-align: center;
    margin-top: 90px;
    font-size: 28px;
    font-weight: bold;
    }

.textoubicacion {
    width: 100%;
    height: 80px;
    margin-top: 60px;
    text-align: center;
    color: #ded6c0;
    font-size: 16px;
    line-height: 1.3;
}

.textoderechos {
    width: 12%;
    height: 80px;
    color: white;
    padding-top: 65px;
    padding-left: 30px;
}

.textoderechos2 {
    width: 20%;
    height: 80px;
    color: white;
    margin-left: 180px;
    margin-top: -15px;
}

.textopunto {
    width: 1%;
    height: 0px;
    color: white;
    margin-top: -96px;
    margin-left: 165px;
    font-size: 30px;

}

@media only screen and (max-width: 450px) {

/*media query 1er bloque */

.contenedor1{ 
    width: 100%;
    height: 650px;
}

h1{
    width: 100%;
    font-size: 38px; 
}

.cajatexto1 {
    width: 100%;
    height: auto;
    padding-left: 70px;
    text-align: center;
    padding-right: 70px;
}

/*media query 2do bloque*/

.caja1{
    width: 100%;
    float: none;
    margin-top:-120px;
}

.caja2{
    width: 100%;
    float: none;
    margin-top: -120px;
  }

.cajatexto2 {
    width: 100%;
    padding-top:100px;
    height: auto;   
    text-align: center;

}

.cajatexto3{
    width: 100%;
    padding-left: 55px;
    padding-right:85px;
    text-align: center;
}

.cajatexto5{
    width: 100%;
    padding-left: 63px;
    padding-right:78px;
    text-align: center;
}

 .cajatexto4{
    width: 100%;
    padding-top:100px;
    height: auto;   
    text-align: center;
}

/*media query 3er bloque */

.contenedor2{
    margin-top: 0px;  
    }

h2{
    width: 100%;
    font-size: 38px; 
    border: 1px solid black;

}

.cajatexto6 {
    width: 75%;
    font-size:18px;
    text-align:center;
}

.cajalinea2{
    margin-top: 70px;
}
.boton1{
    width: 60%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*media query 4to bloque */

.cajapan , .cajatortas , .cajatrigo , .cajapastel {
    width: 100%;
    height: auto;
    float:none;
    padding-top: 15px;
    margin-top: -50px;
    
}

.iconopan  {
    margin: 40px auto;
    width: 25%;
    height: 100px;
}

.iconotrigo {
    margin: -45px auto;
    width: 25%;
    height: 100px;
}

.iconopastel {
    margin: -60px auto;
    width: 25%;
    height: 100px;
}

.iconotortas{
    margin:10px auto;
    width: 25%;
    height: 100px;
} 
.titulopan {
    margin-top: -10px;
    width: 70%;
    margin-left:50px;
    font-weight: bold;
    text-align: left;
}

.titulotrigo {
    margin-top: 60px;
    width: 70%;
    margin-left:50px;
    font-weight: bold;
    text-align: left;
}

.titulopastel {
    margin-top: 75px;
    width: 70%;
    margin-left:50px;
    font-weight: bold;
    text-align: left;
}

.titulotortas {
    margin-top: 20px;
    width: 70%;
    margin-left:50px;
    font-weight: bold;
    text-align: left;
}

.textopan , .textotortas{
    margin: 20px auto;
    margin-left: 50px;
    width: 70%;
    height: 180px;
    
}

.textotrigo , .textopastel {
    margin: 40px auto;
    margin-left: 50px;
}


/*media query 5to bloque */
.cajacontacto{
    width: 100%;
    float: none;
    margin-top:-500px ;

}

.organizadorcontacto{
    width: 100%;
    padding-top: 20px;
}

.titulocontacto , .textocontacto {
    width: 100%;
   margin:60px auto;
}


.cajaubicacion{
    width: 100%;
    float: none;
    margin-top: -90px;
}

.organizadorubicacion {
    width: 100%;
    padding-top: 30px;
}
.tituloubicacion , .textoubicacion {
    margin: 80px auto;
}

.contenedor5{
    width: 100%;
    margin-top: 350px;
    border: 1px solid white;
}

.textoderechos{
    width: 100%;
}

.textoderechos2{
    width: 70%;
    height: 10px;
    margin-top: 10px;
    margin-left: 30px;
    
}

.textopunto {
    color: black;
}


.contenedor4{
    margin-top: 1308px;
}

.contenedor6 {
    margin-top: 90px;
}    
}